In [1]:
import openpyxl
import pandas as pd

# Excelファイルを読み込む
wb = openpyxl.load_workbook('Chapter10_1.xlsx')
sheet = wb.active

# 選択したシート内の全てのセルの値を取得してデータフレームに変換する
data = sheet.values
df = pd.DataFrame(data)

# 結果の表示
print(df)

    0     1   2
0  ID    名前  年齢
1   1  田中一郎  20
2   2  山田次郎  30
3   3  加藤三郎  40

In [5]:
sheet

In [6]:
pd.read_excel("Chapter10_1.xlsx")

   ID    名前  年齢
0   1  田中一郎  20
1   2  山田次郎  30
2   3  加藤三郎  40