### Dataframeの作り方：２種類

1. 辞書の形式からDataFrameを作る　⇒　Webスクレイピングで活用多い
2. np.array形式（listも可）と、列名のリストの形式から作成する　⇒　データサイエンスでの活用多い

---

In [1]:
#1. 辞書形式から作る場合
data_dict = {
    'ID': [1, 2, 3],
    '名前': ['田中一郎', '山田次郎', '加藤三郎'],
    '年齢': [20, 30, 40]
}

In [2]:
import pandas as pd

In [3]:
pd.DataFrame(data=data_dict)

   ID    名前  年齢
0   1  田中一郎  20
1   2  山田次郎  30
2   3  加藤三郎  40

In [4]:
#2. np.arrayの形式から読み込む場合
import numpy as np

In [7]:
data = np.array([
    [1, "田中一郎", 20],
    [2, "山田次郎", 30],
    [3, "加藤三郎", 40]
])

data

array([['1', '田中一郎', '20'],
       ['2', '山田次郎', '30'],
       ['3', '加藤三郎', '40']], dtype='<U11')

In [8]:
col_list = ["ID", "名前", "年齢"]

col_list

['ID', '名前', '年齢']

In [9]:
pd.DataFrame(data=data, columns=col_list)

  ID    名前  年齢
0  1  田中一郎  20
1  2  山田次郎  30
2  3  加藤三郎  40